/bin/
/StreamsComprehensive/*
/StreamsComprehensive/*.classpath
/StreamsComprehensive/*.project
/Streams/bin
/Streams/.settings
/Streams/*.classpath
*.project
*
*.classpath
/Lambdas-01/*
/Lambdas-01/*.classpath
/FunctionalInterfaces/*.project
/FunctionalInterfaces/*
/FunctionalInterfaces/*.classpath
/Lambdas/*.project
/Lambdas/*
/Lambdas/*.classpath
